html {
  font-size: 16px;
  font-family: 'Mallanna', sans-serif;
  color: #4d4d4d;
}

h2 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}

p, span {
  line-height: 1.5rem;
}

/* General settings */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.mobile {
  display: none;
}

.white-background {
  background-color: white;
}

.side-teaser.no-border-bottom {
  border-bottom: none;
}

.side-teaser-text a {
  color: #5194E3;
  padding-top: 0.5rem;
}

/*Header section */

header {
  height: 64px;
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
}

header ul {
  display: flex;
  padding: 0.5rem;
  padding-right: 1.5rem;
}

header .logo-and-text {
  display: flex;
  flex-grow: 1;
}

header ul li {
  padding: 0.5rem;
}

.header-text {
  display: flex;
  align-items: center;
  padding-left: 0.25rem;

}

.logo-and-text img {
  padding-left: 1.5rem;
}

.bold {
  font-weight: bold;
  color: black;
}

header.mobile {
  display: none;
}


/* Hero teaser */

.hero-container {
  display: flex;
}

.hero-teaser {
  width: 60%;
  padding: 2rem 1rem;
}

.hero-teaser img {
  width: 100%;
}

.grey-background {
  background-color: #D8D8D8;
}

.hero-text-section {
  justify-content: center;
  width: 35%;
}

.hero-text-container {
  padding-right: 8rem;
  padding-left: 1rem;
}

.header-button {
  padding: 0.5rem 0;
  width: 100%;
  background-color: #4A4A4A;
  text-align: center;
  margin-top: 0.5rem;
}

.header-button a {
    color: white;
}

.hero-text-section p, .hero-text-section h1 {
  margin-bottom: 2rem;
  color: #4A4A4A;
}

.hero-text-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-text-section p {
  font-size: 1.5rem;
  font-weight: 300;
}

.side-teasers {
  width: 37%;
  padding-top: 1rem;

}


/* Secondary teaser */

.side-teaser {
  border-bottom: 1px solid #D8D8D8;
}

.image-side-teaser {
  padding: 1rem;
  width: 37%;
  height: 100%;
}

.image-side-teaser img {
  max-width: 100%;
}

.side-teaser-text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  width: 55%;
}

.gray-boder-right {
  border-right: 1px solid #D8D8D8;
}

.text-cite {
  font-size: 0.8rem;
  padding: 2rem 0 0;
  letter-spacing: -0.5px;
}

/* Group of 6 teasers */

  .full-width {
    background-color: #EAEBEC;
    width: auto;
    padding: 2rem 4.5rem;
  }

  .title {
    justify-content: center;
    text-align: center;
  }

  .teaser-group {
    padding: 2rem 0;
  }

  .single-teaser-group {
    width: 32%;
    background-color: white;
    padding-bottom: 1.5rem;
  }

  .single-teaser-image img {
    width: 100%;
    height: auto;
  }

  .teaser-row {
    justify-content: space-between;
  }

  .second {
    padding-top: 1rem;
  }
  .single-teaser-group h3, .single-teaser-group span {
    padding: 0 1rem;
  }

  .single-teaser-group h3 {
    padding: 1rem 1rem;
  }

  .single-teaser-group span {
    padding-top: 0.5rem;
  }


/* Video section */

  .full-width.white-background {
    background-color: white;
  }

  .side-teasers, .hero-teaser {
    padding-top: 0;
  }

  .side-teaser.no-border-bottom {
    border-bottom: none;
  }

  /* Footer */

  footer .flex {
    width: auto;
    padding: 1rem 1.5rem 3rem 1.5rem;
    border-top: solid 2px #A9AAAD;
  }

  .copyright {
    flex-grow: 1;
  }

  .specialpadding {
    padding-top: 1.5rem;
  }



/* Media queries for mobile */

    /* Navigation */

@media only screen and (max-width: 800px) {
  header.mobile {
    align-items: center;
    display: flex;

  }

header ul {
  display: flex;
  width: 100%;
  padding-right: 0.5rem;
  }


.mobile ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  }

  .no-mobile {
    display: none;
  }

  /* Hero teaser */

  .hero-text-section {
    width: auto;
    padding: 2rem 1rem;
  }

  .hero-container {
    flex-direction: column;
  }

  .header-button {
    background-color: #9B9B9B;
    width: 100%;
  }

  .hero-teaser {
    width: 100%;
    padding: 0;
  }

  .hero-text-container {
    padding: 0;
  }

  .side-teasers {
    width: auto;
    padding-top: 0;
  }

  .side-teaser {
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    border-bottom: none;
  }

  .image-side-teaser {
    padding: 0;
    width: 100%;
  }

  .side-teaser-text {
    width: auto;
    padding: 1rem;
  }

  .side-teaser-text  a {
    padding: 1rem 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .side-teaser.grey-background {
    background-color: white;
  }

  /* 6teasers group mobile queries */

  .single-teaser-group .single-teaser-image, .single-teaser-group span {
    display: none;
  }

  .teaser-row {
    display: flex;
    flex-direction: column;
  }

  .single-teaser-group {
    width: auto;
    background-color: #D8D8D8;
    margin-bottom: 0.5rem;
  }

  .full-width {
    background-color: white;
    padding: 0 1rem;
  }

  .second {
    padding-top: 0;
  }

  h2 {
    padding: 2rem 0 1rem;
  }

  .teaser-group {
    padding: 0;
    padding-bottom: 2rem;
  }

  .single-teaser-group h3 {
    padding-bottom: 0;
  }

    /* Footer */

  footer a {
    display: none;
  }

  footer .flex {
    padding: 1rem 1.5rem;
    border-top: none;
  }
}
